extends layout

block content
  h1= title
  p Welcome to #{title}
  if (currentUser)
    span #{currentUser.fullName}
    br
    a(href="/log-out") Log out
  else 
    a(href="/log-in") Log in
    br
    a(href="/sign-up") Sign up
