extends layout 

block content 

  h1 Become a member! 

  form(action="/membership" method="POST")
    label(for="passcode") Email
    input(type="text" name="passcode" placeholder="passcode")

    button(type='submit') Become a member